trigger:
  - main

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'

steps:
  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '9.x'

  - task: NuGetToolInstaller@1

  - task: NuGetCommand@2
    inputs:
      command: 'restore'
      restoreSolution: 'EquilibraMais.sln'

  - script: dotnet build EquilibraMais.sln --configuration $(buildConfiguration)
    displayName: 'Build solution'

  - script: dotnet test EquilibraMais.sln --configuration $(buildConfiguration) --no-build --verbosity normal
    displayName: 'Run tests'

  - script: dotnet publish EquilibraMais.csproj --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
    displayName: 'Publish project'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'drop'
      publishLocation: 'Container'

  - task: AzureWebApp@1
    inputs:
      azureSubscription: "EquilibraMais-RM"
      appType: 'webApp'
      appName: "equilibramais"
      package: '$(Build.ArtifactStagingDirectory)'



