trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    projects: '**/EquilibraMais.csproj' # ajustado ao nome do seu projeto
    arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)\EquilibraMais'
    zipAfterPublish: true

- script: dir $(Build.ArtifactStagingDirectory)\EquilibraMais
  displayName: 'Listar arquivos publicados'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)\EquilibraMais\EquilibraMais.zip'
    ArtifactName: 'drop'

- task: AzureWebApp@1
  inputs:
    azureSubscription: 'EquilibraMais-RM'
    appName: 'equilibramais'
    package: '$(Build.ArtifactStagingDirectory)\EquilibraMais\EquilibraMais.zip'

